<footer>
  <div class="footer-div">
    <div class="social-icons row">
      <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
      <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
      <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
    </div>

    <div class="links row">
      <ul>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Our Collection</a></li>
      </ul>
    </div>

    <div class="location-hours row">
      <p>Location: 354 Bloor St west, Etobicoke, M9A 3K1</p>
      <p>
        Restaurant Hours: Monday-Saturday: 11:00 AM - 9:00 PM, Sunday: Closed
      </p>
    </div>

    <div class="copyright row">
      MADS Copyright © 2024 SAFFRON - All rights reserved || Designed By: DHRUV
    </div>
  </div>
</footer>
