<header>
  <div class="header-div">
    <nav class="left">
      <ul>
        <!-- <li><a href="/">HOME</a></li> -->
        <li><a href="/open-orders">OPEN ORDERS</a></li>
        <li><a href="/delivery-fulfillment">DELIVERY FULFILLMENT</a></li>
      </ul>
    </nav>
    <div class="brand">
      <div class="logo"><a href="#">SAFFRON</a></div>
    </div>
  </div>
  
</header>
